.film-card {
  width: 20rem;
  border-bottom: 0 none;
  transition: all 0.2s;
  position: relative;

  &__rating {
    height: 5rem;
    width: 5rem;
    background-color: #fc4d55;
    position: absolute;
    z-index: 10;
    top: 0;
    transform: translate(150%, -50%);
    border-radius: 50%;
    color: white;
    opacity: 1;
    box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.4);

    span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }

  &__poster {
    width: 100%;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
    transition: all ease 0.3s;
    animation: fadeIn ease 0.4s;
  }

  &__poster:hover {
    transform: scale(1.05);
  }

  &__details {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #333;
    width: 100%;
    height: 10rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
