.film-card {
  width: 280px;
  -webkit-box-shadow: 0 3px 2px #777;
  -moz-box-shadow: 0 3px 2px #777;
  box-shadow: 0 3px 2px #777;
  background-color: antiquewhite;
}

.film-card img {
  height: 400px;
  width: 100%;
}

.film-details {
  text-align: center;
  font-size: 1.25rem;
}
