.film-page {
  width: 100%;
  max-width: 140rem;
  min-height: 100vh;
  margin-left: 37rem;
  padding: 10rem 8rem;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__title {
    img {
      height: 50rem;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
    }
  }
}
