.film-page {
  color: #333;
  text-align: center;
  font-size: 1.6rem;

  &__title {
    img {
      box-shadow: 0 3px 2px #777;
      height: 500px;
      border-radius: 5px;
    }
  }
}

.film-page__body {
  padding: 2rem;
}

.film-page__button {
  padding: 1.2rem 4rem;
  border: 1px solid #d90368;
  background-color: #d90368;
  border-radius: 10px;
  width: 10rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.film-page__button:hover {
  background-color: #fff;
  color: #d90368;
  border: 1px solid #d90368;
  filter: drop-shadow(0 0 0.75rem crimson);
}
