.film--page {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  text-align: center;
}

.film--page_title img {
  box-shadow: 0 3px 2px #777;
  border-radius: 5px;
}

.film--page_subtitle p {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #333;
}

.film--page_body {
  padding: 2rem;
}

.film--page_button {
  padding: 12px 40px;
  border: 1px solid #d90368;
  background-color: #d90368;
  border-radius: 10px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.2s;
}

.film--page_button:hover {
  background-color: #fff;
  color: #d90368;
  border: 1px solid #d90368;
  filter: drop-shadow(0 0 0.75rem crimson);
}
