.navigation-bar {
  height: 100%;
  width: 25rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e2e34;
  overflow-x: hidden;

  &__link {
    cursor: pointer;
    padding: 2rem 0.8rem 2rem 1.6rem;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    list-style-type: square;
    transition: all ease 0.2s;

    &:hover {
      color: #fc4d55;
      background-color: #fff;
    }
  }
}
