.sidenav {
  height: 100%;
  width: 25rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2e2e34;
  overflow-x: hidden;
  padding-top: 1rem;
}

.sidenav a {
  padding: 2rem 0.8rem 2rem 1.6rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #818181;
}
