.landing-page {
  background-color: #d90368;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23d90368' cx='50' cy='0' r='50'/%3E%3Cg fill='%23d50168' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d10069' cx='50' cy='100' r='50'/%3E%3Cg fill='%23cc0069' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c80069' cx='50' cy='200' r='50'/%3E%3Cg fill='%23c40069' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c00069' cx='50' cy='300' r='50'/%3E%3Cg fill='%23bb0069' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b70069' cx='50' cy='400' r='50'/%3E%3Cg fill='%23b30069' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ae0069' cx='50' cy='500' r='50'/%3E%3Cg fill='%23aa0068' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a50068' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a10068' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%239d0067' cx='50' cy='700' r='50'/%3E%3Cg fill='%23980067' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23940066' cx='50' cy='800' r='50'/%3E%3Cg fill='%238f0065' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238b0065' cx='50' cy='900' r='50'/%3E%3Cg fill='%23860164' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23820263' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.landing-details {
  padding-top: 4rem;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

.landing-page .landing-info {
  width: 40%;
  padding: 5rem;
}

.landing-page .landing-info h1 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.landing-page .landing-info span {
  margin: 0 1.5rem;
}

.landing-page .landing-info .button {
  padding: 15px 60px;
  border: 1px solid #d90368;
  background-color: #d90368;
  border-radius: 10px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.2s;
}

.landing-page .landing-info .button:hover {
  background-color: #fff;
  color: #d90368;
  border: 1px solid #d90368;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.landing-image-container {
  width: 60%;
  height: 100%;
  text-align: center;
}

.landing-image {
  width: 80%;
  height: 100%;
}
