.homepage {
  width: 100%;
  max-width: 140rem;
  min-height: 100vh;
  margin-left: 37rem;
  padding: 10rem 8rem;

  &__title {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: #333;
    margin-left: 2rem;
    display: inline-block;
  }
}
