.film-list-title {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin: 5rem 0 8rem 2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
